<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
</head>

<body>
  <%  newListItems.forEach(function(item){ %>

 <p> <%=  item.name %></p>
 <!-- <img src="<%= item.img.data %>"   // error with image displaying -->
  <% }) %>
</body>

<footer>
 <h4> Copyright 2021 Pratik</h4>
</footer>

</html>
